#welcome {

font-family: Arial, 'sweet-purple',sans-serif;
font-size: 26.4px;


}


@font-face {
  font-family: 'sweet-purple';
  src: url('../fonts/sweet-purple.ttf');
}



@font-face {

font-family: 'toms-roman';
  src: url('../fonts/TomsNewRoman-Eawr.ttf');


}


@font-face {
  font-family: 'fnf';
  src: url('../fonts/fnf-font.woff');
}

nav ul li {
	display: inline;
	border-right: 2px solid #111111;
	padding-right: 8px;
	padding-left: 8px;
}

.fnf-style {

	font-family: 'fnf';
	
}
